.sidebar-section {
    display: flex;
}

/* Make sidebar fixed and prevent overflow */
.sidebar {
    height: 100vh;
    background-color: #8ca6a9;
    width: 70px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;   /* prevents menu boxes from escaping downward */
}

/* Expanded sidebar */
.sidebar-toggle {
    width: 190px;
}

/* Toggle button container */
.sidebar-toggle-icons {
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 0px;
}

.sidebar-toggle-icons p svg {
    background-color: #474441;
    color: white;
    margin-top: 30px;
}

/* Push main page content to the right of the fixed sidebar */
.container {
    margin-left: 90px;
}

/* When expanded */
.sidebar-toggle ~ .container {
    margin-left: 190px;
}




