.navebar-profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}

.navebar-profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 10px;  /* move image DOWN inside circle */
}
