.navebar-profile-pic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    transform: translateX(-10px);   /* NOW the circle will actually move left */
}
.navebar-profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    object-position: center 1px;   /* move image DOWN */
}




